<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game</title>
    <style>
        #game_screen {
            user-select: none;
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            -webkit-user-select: none; /* Chrome, Safari, Opera */
        }
        
        #game-container {
            position: relative;
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body>

<h1>Python Quiz Game!!!</h1>

<div id="game-container">
    <canvas id="game-canvas" width="800" height="600"></canvas>
</div>
<img id="game_screen" src="{{ url_for('video_feed') }}" width="800" height="600">
    
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        var canvas = document.getElementById('game-canvas');
        var ctx = canvas.getContext('2d');

        canvas.addEventListener('click', function(event) {
            var rect = canvas.getBoundingClientRect();
            var x = event.clientX - rect.left;
            var y = event.clientY - rect.top;

            // Send the mouse click coordinates to the server
            $.ajax({
                type: "POST",
                url: "/handle_click",
                data: { x: x, y: y },
                success: function(data) {
                
                    // Reload the page if the server indicates a reload is required
                    if (data.reload_page) {
                        location.reload(true);
                    }
                },
                error: function(error) {
                    console.error("Error sending AJAX request:", error);
                }
            });
        });
    });
</script>

</body>
</html>
